<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.YgCustomerOrderDao">
	<resultMap id="BaseResultMap" type="com.shsxt.crm.model.YgCustomerOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="cus_id" property="cusId" jdbcType="INTEGER" />
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="INTEGER" />
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
		<result column="is_valid" property="isValid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, cus_id, order_no, order_date, address, state,
		create_date,
		update_date, is_valid
	</sql>
	
	<select id="queryCusomterOderRecentSixMonth" parameterType="int"
		resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		t_customer_order
		WHERE
		cus_id = #{cid}
		AND  <![CDATA[  order_date >= DATE_SUB(NOW(), INTERVAL 6 MONTH) ]]>
	</select>



</mapper>