<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.YgUserRoleDao" >
  <resultMap id="BaseResultMap" type="com.shsxt.crm.model.YgUserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, role_id, create_date, update_date
  </sql>
  <sql id="whereClause" >
    where 1 = 1
    <if test="id != null" >
       and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
       and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="roleId != null" >
       and role_id = #{roleId,jdbcType=INTEGER}
    </if>
    <if test="createDate != null" >
       and create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateDate != null" >
       and update_date = #{updateDate,jdbcType=TIMESTAMP}
    </if>
  </sql>
  <sql id="sort" >
    <if test="orderByStr != null" >
       order by ${orderByStr}
    </if>
  </sql>
  <sql id="lock" >
    <if test="lock != null and lock == true" >
       for update
    </if>
  </sql>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from t_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <select id="count" resultType="java.lang.Long" >
    select count(1)
    from t_user_role
    <include refid="whereClause" />
  </select>
  <select id="findOne" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_user_role
    <include refid="whereClause" />
    <include refid="sort" />
    <include refid="lock" />
  </select>
  <select id="find" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from t_user_role
    <include refid="whereClause" />
    <include refid="sort" />
    <include refid="lock" />
  </select>
  <insert id="save" parameterType="com.shsxt.crm.model.YgUserRole" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_role (user_id, role_id, create_date, 
      update_date)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="saveSte" parameterType="com.shsxt.crm.model.YgUserRole" useGeneratedKeys="true" keyProperty="id" >
    insert into t_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateSte" parameterType="com.shsxt.crm.model.YgUserRole" >
    update t_user_role
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="update" parameterType="com.shsxt.crm.model.YgUserRole" >
    update t_user_role
    set user_id = #{userId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <delete id="delUserRoleByUid" parameterType="int">
    delete from t_user_role WHERE user_id = #{uid}
  </delete>
</mapper>